.package {
  &.package__container {
    display: flex;
    flex-direction: column;
  }

  .package__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;

    p.package__title--price {
      font-weight: 100;
      margin: 0;
      display: inline-block;
      float: right;
    }
  }

  .package__image {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .package__description {
    white-space: pre-line;
  }

  .package__packages,
  .package__upgrades {
    h4 {
      padding-bottom: 3px;
      border-bottom: 1px solid #999;
      font-size: 24px;
      margin-bottom: 15px;
    }

    h5 {
      font-size: 16px;
      font-weight: 400;
      margin: 20px 0;
    }

    .package__packages__row {
      padding: 10px 0 10px 5px;
      border-bottom: 1px solid #999;
    }
  }
}
